@media only screen and (max-width:414px) {

	.container {
		width: 100%;
		height: auto;
	}

	.header {
		display: none;
	}

	.hero-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
	}

	.hero-left img, .hero-right img {
		margin: 5px;
		width: 250px;
	}

	.hero-left, .hero-right {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: auto;
	}

	.hero-section .hero-left {
		align-items: center;
		height: auto;
	}

	.hero-section .hero-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: auto;
	}

	.hero-section .hero-center {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.hero-section .hero-center h1 {
		font-size: 27px;
		margin: 40px 0;
	}

	.hero-center-btns {
		margin: 80px 0 50px;
	}

	.statistics-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

	.statistics-section h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 50px;
		max-width: auto;
		text-align: center;
		margin-top: auto;
	}

	.statistics-totals {
		flex-direction: column;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.clients-list {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.support-section {
		width: 100%;
	}

	.support-list ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		list-style-type: none;
		height: auto;
		align-items: center;
	}

	.support-list-item-details {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: auto;
		align-items: center;
	}

	.builders-section>ul>li {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: auto;
		align-items: center;
	}

	.compensation-details {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: auto;
		align-items: center;
	}

	.compensation-section {
		width: 100%;
		height: auto;
	}

	.compensation-section>p {
		width: 100%;
	}

	.ceomessage-section {
		width: 100%;
	}

	.wecantwait {
		width: 100%;
	}

	.wecantwait .btns {
		width: 100%;
		flex-direction: column;
	}

	.footer-section {
		width: 100%;
		flex-direction: column;
		height: auto;
		padding: 0;
	}

	.other-links {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.sipc-and-apps-sns {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	
	.sipc {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.apps-sns {
		display: flex;
		width: 100%;
		flex-direction: column;
		height: auto;
	}

	.apps {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.sns {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.copyright {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.copyright-left,
	.copyright-right {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	.copyright-year {
		display: flex;
		width: 100%;
		flex-direction: column;
	}

}
