@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&family=Roboto:wght@400&display=swap');

* {
	font-family: 'Plus Jakarta Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  min-height:300px;
  background-color: #FFFFFF;
}

.header {
	display: flex;
	justify-content: center;
  height: 88px;
  width: 100%;
}

.menu-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1116px;
	height: 100%;
}

.menu-holder .logo {
	width: 97px;
	height: 41px;
}

.menu-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 596px;
	height: 100%;
}

.menu-action .sign-in,
.hero-center .video-tour-btn,
.builders-section .learnmore-btn,
.support-list button,
.ceomessage-section button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 49px;
	height: 18px;
	font-size: 15px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}


.menu-action .sign-in:hover,
.hero-center .video-tour-btn:hover,
.builders-section .learnmore-btn:hover,
.ceomessage-section button:hover {
	color: orange;
}

.menu-action .demo-btn, 
.hero-center .demo-btn,
.support-list-item-details .learnmore-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	cursor: pointer;
	color: #FFFFFF;
	width: 159px;
	height: 48px;
	background-color: #000000;
	box-shadow: 0px 0px 0px #000000;
	border-radius: 100px;
	border: none;
}

.menu-action .demo-btn:hover, 
.hero-center .demo-btn:hover,
.support-list-item-details .learnmore-btn:hover {
	color: #FFFFFF;
	background-color: orange;
}

.menu-item {
	display: flex;
	flex: 1;
	align-items: baseline;
	justify-content: center;
	background-color: white;
	cursor: pointer;
}

.menu-item:hover {
	color: orange;
}

.menu-item img {
	width: 16px;
	height: 6px;
}

.menu-item p {
	font-size: 15px;
	text-transform: capitalize;
}

.menu-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 228px;
	height: 100%;
}

.hero-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1116px;
	height: auto;
	margin: 52px auto 0 auto;
}

.hero-section .hero-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 424px;
}

.hero-section .hero-center {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 424px;
}

.hero-section .hero-center h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 50px;
	text-align: center;
}

.hero-section .hero-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 424px;
}

.hero-section .hero-center-btns {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	align-items: center;
	width: 317px;
	justify-content: space-between;
}

.hero-section .hero-center p {
	text-align: center;
	font-size: 20px;

}

.hero-section .hero-left,
.hero-section .hero-right {
}

.statistics-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.statistics-section h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 50px;
	max-width: 662px;
	text-align: center;
	margin-top: 116px;
}

.statistics-owners {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statistics-owners-quanity {
	font-size: 69px;
	text-align: center;
	margin-top: 65px;
	border: 3px solid black;
	padding: 3px 28px;
}

.statistics-owners-undertitle {
	font-size: 16px;
	margin-top: 4px;
}

.statistics-totals {
	display: flex;
	flex-direction: row;
	width: 662px;
	justify-content: space-between;
	margin-top: 46px;
}

.assets-on-platform {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 175px;
}

.assets-on-platform .amount {
	font-size: 34px;
}

.assets-on-platform .under-title{
	font-size: 19px;
	margin-top: 10px;
	text-align: center;
}

.clients-list {
	margin-top: 171px;
	width: 990px;
	display: flex;
	justify-content: space-between;
}

.support-section {
	margin-top: 119px;
	background-color: #E2EEF3;
	max-width: 1116px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.support-section>h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 50px;
	max-width: 528px;
	text-align: center;
	margin-top: 74px;
}

.support-list {
	margin: 71px 100px 64px 100px;
	width: 906px;
	height: 88px;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 0 120px;
}

.support-list ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	height: 100%;
	align-items: center;
}

.support-list .selected {
	background-color: #E2EEF3;
	box-shadow: 0px 0px 0px #8F8F8F;
	border-radius: 100px;
	padding: 14px 20px;
}

.support-list li {
	box-shadow: 0px 0px 0px #8F8F8F;
	border-radius: 100px;
	padding: 14px 20px;
}

.support-list .selected:hover {
	color: inherit;
}

.support-list li:hover:not(.selected) {
	background-color: orange;
	color: #FFFFFF;
}

.support-list-item-details {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 105px;
	margin-bottom: 111px;
}

.support-list-item-details .item-details-text {
	max-width: 342px;
}

.support-list-item-details .item-details-text h1 {
	font-weight: 400;
	font-size: 27px;
}

.support-list-item-details .item-details-text p {
	font-weight: 400;
	font-size: 19px;
	margin-bottom: 17px;
	margin-top: 17px;
}

.builders-section {
	max-width: 1116px;
	margin: 113px auto 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.builders-section>h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 50px;
	text-align: center;
}

.builders-section>p {
	font-size: 20px;
	max-width: 541px;
	margin-top: 41px;
	text-align: center;
}

.builders-section>ul {
	margin: 78px 85px;
}

.builders-section>ul>li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.builders-section .learnmore-btn {
	min-width: 280px;
	font-size: 15px;
}


.builders-section .builders-info {
	margin: 0 24px;
}

.builders-section .builders-info h1 {
	font-weight: 400;
	font-size: 27px;
}

.builders-section .builders-info p {
	font-weight: 400;
	font-size: 20px;
}

.compensation-section {
	max-width: 1116px;
	margin: 0 auto 262px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.compensation-section>h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 28px;
	text-align: center;
}

.compensation-section>p {
	margin-top: 36px;
	font-size: 20px;
	text-align: center;
	max-width: 881px;
}

.compensation-section .compensation-details {
	display: flex;
	justify-content: space-between;
	margin-top: 61px;
	width: 926px;
}

.compensation-section .compensation-details .details-text h1 {
	font-size: 27px;
	font-weight: 400;
}

.compensation-section .compensation-details .details-text p {
	max-width: 332px;
	font-size: 20px;
	margin-top: 17px;
}

.ceomessage-section {
	width: 760px;
	height: 421px;
	background-color: #E2EEF3;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 38px;
}

.ceomessage-section h1 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 28px;
	max-width: 584px;
	text-align: center;
	margin-bottom: 47px;
}

.ceomessage-section .ceo-name {
	font-size: 19px;
}

.ceomessage-section .position {
	font-size: 13px;
}

.ceomessage-section button {
	font-size: 16px;
}

.ceomessage-section img {
	margin-bottom: 23px;
}

.wecantwait {
	margin: 190px auto 0;
	width: 1116px;
	height: 364px;
	color: #FFFFFF;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.wecantwait p {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 50px;
	max-width: 730px;
	text-align: center;
}

.wecantwait button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	cursor: pointer;
	color: #000000;
	width: 159px;
	height: 48px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 0px #000000;
	border-radius: 100px;
	border: none;
}

.wecantwait button:hover {
	background-color: orange;
}

.wecantwait .btns {
	width: 337px;
	justify-content: space-between;
	display: flex;
}

.footer-section {
	width: 1280px;
	background-color: #000000;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	padding: 0 86px;
}

.other-links {
	display: flex;
	justify-content: space-between;
}

.other-links ul {
	list-style-type: none;
}

.other-links ul>li {
	margin-top: 15px;
}

.other-links ul>li>a {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
}

.other-links ul>li>a:link,
.other-links ul>li>a:visited,
.other-links ul>li>a:active {
	text-decoration: none;
}

.other-links ul>li>a:hover {
	color: orange;
}

.other-links .additional-products,
.other-links .featured-blogs,
.other-links .partners,
.other-links .company {
	width: 228px;
}

.other-links h1 {
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 38px;
	margin-bottom: 25px;
}

.sipc-and-apps-sns {
	display: flex;
	margin-top: 81px;
	justify-content: space-between;
}

.sipc {
	width: 216px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.apps-sns {
	display: flex;
	width: 445px;
	justify-content: space-between;
	align-items: center;
	height: 43px;

}

.apps {
	display: flex;
	width: 277px;
	justify-content: space-between;
	align-items: center;
}

.sns {
	display: flex;
	width: 144px;
	justify-content: space-between;
	align-items: center;
}

.just-horizontal-bar {
	border: none;
	background-color: #FFFFFF;
	width: 100%;
	height: 1px;
	margin-top: 47px;
	margin-bottom: 50px;
}

.copyright {
	display: flex;
	padding-bottom: 90px;
	justify-content: space-between;
}

.copyright-left,
.copyright-right {
	width: 539px;
	font-size: 14px;
}

.copyright-year {
	margin-top: 14px;
	font-size: 13px;
}

.arrow-right {
	font-size: 1.3em;
	margin-left: 0.2em;
	font-weight: bold;
}

.arrow-down {
	font-size: 1.8em;
}
